.footer{
    background-color: #eee;
}

.primary-clr{
    color: #EB2026 !important;
}
.clr-black{
    color:#111;
}
.clr-white{
    color:#fff;
}
.bg-raghuma{
    background-color:#EB2026;
}
.footer-link >a{
    color:#111 !important;
}
.lily-script{
    font-family: lily script one;
}

.text-justify{
    text-align: justify;
}
.bold{
    font-weight:800;
}
.btn-raghuma{
    background-color: #EB2026;
    color:#fff;
}
.btn-raghuma:hover{
    background-color: #fff;
    border: 1px solid #EB2026;
    color:#EB2026;
}
.box-shadow{
    box-shadow: 1px 1px 8px #111;
}
.card-shadow{
    box-shadow: 1px 1px 8px #aaa;
    border-radius: 5px;
}
.icon-bg{
    width:120px;
    height:120px;
    text-align: center;
    background-color: #eee;
    border-radius:50%;
    margin:auto;
    padding-top:28px;
}

.news-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-feature{
    border-left:1px solid #aaa;
}

.pl-5{
    padding-left:50px;
}
.mr-3{
    margin-right:30px;
}
.ml-63{
    margin-left:-63px;
}
.blog-wrapper{
    border-radius: 8px;
}
.title-area{
    background-color: #EB2026;
    color:#fff;
    border-radius: 0px 0px 8px 8px;
}
.bg-pink{
  background-color: #fff8f0;
}

.service-photo-bg{
  padding:25px 18px;
  background-color: #EB2026;
  color: #fff;
  text-align: center;
}

.service-photo-bg img{
  border-radius: 8px;
}

.text-area{
    background-color: aliceblue;
}

.more-info{
    padding: 10px 15px;
    border: 1px solid #EB2026;
}

.facility-list li :before{
  color:#009900; font-weight: 900; content: "\f058";
}
.facility-list ul{
  list-style-position:outside!important;
}



/*------------------ Animation --------------------- */


.rotate-in-2-fwd-cw:hover {
	-webkit-animation: rotate-in-2-fwd-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-fwd-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-2-fwd-cw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-45deg);
              transform: translateZ(-200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-cw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-45deg);
              transform: translateZ(-200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }


  .vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

